[Desktop Entry]
Type = Application
Name = Firefox Casual
Icon = firefox-casual
StartupWMClass = casual
Exec = firefox %u -P casual --class another --name casual
Terminal = false
Hidden = false
X-MultipleArgs = false
DBusActivatable = false
Categories = GNOME;GTK;Network;WebBrowser;
MimeType = application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
StartupNotify = true
Actions = new-window;new-private-window;profile-manager

[Desktop Action new-window]
Name = Open a New Window
Exec = firefox -new-window -P casual --class another --name casual

[Desktop Action new-private-window]
Name = Open a New Private Window
Exec = firefox -private-window -P casual --class another --name casual

[Desktop Action profile-manager]
Name = Open Profile Manager
Exec = firefox --ProfileManager

